In [1]:
# 写経
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

import os
import re

%load_ext autoreload
%autoreload 2

# DATA Clening

In [2]:
# load_files
file_path = '../data'
files = {}
for file in os.listdir(file_path):
    if os.path.isfile(os.path.join(file_path,file)) and file != 'DS_Store':
        f = file.split('.')[0]
        files[f] = file
        print(f)
    
# 史s停止タパスのファイル一覧を取得
# print(os.listdir(file_path))
# if os.path.isfile(os.path.join(file_path,file)) and file != 'DS_Store':
# ファイルパスが存在sるうかどうか調べ、調べ、存在するファイルに対しての処理を行うためのもの

anime-dataset-2023
anime-filtered
final_animedataset
user-filtered
users-details-2023
users-score-2023

In [3]:
# anime_csv
anime_df = pd.read_csv(os.path.join(file_path,files['anime-dataset-2023']))
anime_df.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,"Apr 1, 1998 to Sep 30, 1998",...,Madhouse,Manga,24 min per ep,PG-13 - Teens 13 or older,328.0,246,15035,356739.0,727252,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,"Jul 3, 2002 to Dec 25, 2002",...,Sunrise,Original,25 min per ep,PG-13 - Teens 13 or older,2764.0,1795,613,42829.0,111931,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,"Sep 30, 2004 to Sep 29, 2005",...,Toei Animation,Manga,23 min per ep,PG - Children,4240.0,5126,14,6413.0,15001,https://cdn.myanimelist.net/images/anime/7/215...

In [4]:
anime_df.isnull().sum()

anime_id        0
Name            0
English name    0
Other name      0
Score           0
Genres          0
Synopsis        0
Type            0
Episodes        0
Aired           0
Premiered       0
Status          0
Producers       0
Licensors       0
Studios         0
Source          0
Duration        0
Rating          0
Rank            0
Popularity      0
Favorites       0
Scored By       0
Members         0
Image URL       0
dtype: int64

In [5]:
# anime_df[anime_df['Score'] == 'UNKNOWN']
# unknownが存在することをどのように求めたのか→確認したらわかる
# score = unknownを除外
anime_df['Score'] = anime_df['Score'].replace('UNKNOWN','0.00')
anime_df['Score'] = anime_df['Score'].astype(float)

anime_df['Episodes'] = pd.to_numeric(anime_df['Episodes'].replace('UNKNOWN',-1),errors = 'coerce')
# errors='coerce　は、to_numericで変換できないときに、NaNとして扱われる

anime_df['Episodes'] = anime_df['Episodes'].fillna(-1).astype(int)

anime_df['Rank'] = pd.to_numeric(anime_df['Rank'],errors = 'coerce')
anime_df['Rank'] = anime_df['Rank'].fillna(-1).round().astype(int)

anime_df['Scored By'] = pd.to_numeric(anime_df['Scored By'],errors = 'coerce')
anime_df['Scored By'] = anime_df['Scored By'].fillna(-1).round().astype(int)

In [6]:
#     正規表現 アルファベット3時、数値1~2桁、数値4桁の文字列を検索する
def split_date(aired_date):
    date = re.findall(r'\b[A-Za-z]{3} \d{1,2},\d{4}\b',aired_date)
    
    if len(date) ==2:
        return date[0],date[1]
    elif len(date) == 1:
        return data[0],None
    else:
        return None,None
anime_df[['Start date','End date']] = anime_df['Aired'].apply(split_date).apply(pd.Series)
anime_df = anime_df.drop('Aired',axis = 1)

In [7]:
anime_df = anime_df.sort_values(by='anime_id')
anime_df.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Premiered,...,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL,Start date,End date
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26,spring 1998,...,24 min per ep,R - 17+ (violence & profanity),41,43,78525,914193,1771505,https://cdn.myanimelist.net/images/anime/4/196...,None,None
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1,UNKNOWN,...,1 hr 55 min,R - 17+ (violence & profanity),189,602,1448,206248,360978,https://cdn.myanimelist.net/images/anime/1439/...,None,None
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26,spring 1998,...,24 min per ep,PG-13 - Teens 13 or older,328,246,15035,356739,727252,https://cdn.myanimelist.net/images/anime/7/203...,None,None
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26,summer 2002,...,25 min per ep,PG-13 - Teens 13 or older,2764,1795,613,42829,111931,https://cdn.myanimelist.net/images/anime/10/19...,None,None
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52,fall 2004,...,23 min per ep,PG - Children,4240,5126,14,6413,15001,https://cdn.myanimelist.net/images/anime/7/215...,None,None

In [8]:
anime_df.head()
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24905 entries, 0 to 24904
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         24905 non-null  float64
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  int32
 9   Premiered     24905 non-null  object
 10  Status        24905 non-null  object
 11  Producers     24905 non-null  object
 12  Licensors     24905 non-null  object
 13  Studios       24905 non-null  object
 14  Source        24905 non-null  object
 15  Duration      24905 non-null  object
 16  Rating        24905 non-null  object
 17  Rank          24905 non-null  int32
 18  Popularity    24905 non-null  int64
 19  Favorites     24905 non-null  int64
 20  Scored By     24905 non-null  int32
 21  Members       24905 non-null  int64
 22  Image URL     24905 non-null  object
 23  Start date    0 non-null      object
 24  End date      0 non-null      object
dtypes: float64(1), int32(3), int64(4), object(17)
memory usage: 4.7+ MB

## USERS

In [9]:
# animelist.csv
users_df = pd.read_csv(os.path.join(file_path, files['users-details-2023']))
users_df.head()

,Mal ID,Username,Gender,Birthday,Location,Joined,Days Watched,Mean Score,Watching,Completed,On Hold,Dropped,Plan to Watch,Total Entries,Rewatched,Episodes Watched
0,1,Xinil,Male,1985-03-04T00:00:00+00:00,California,2004-11-05T00:00:00+00:00,142.3,7.37,1.0,233.0,8.0,93.0,64.0,399.0,60.0,8458.0
1,3,Aokaado,Male,NaN,"Oslo, Norway",2004-11-11T00:00:00+00:00,68.6,7.34,23.0,137.0,99.0,44.0,40.0,343.0,15.0,4072.0
2,4,Crystal,Female,NaN,"Melbourne, Australia",2004-11-13T00:00:00+00:00,212.8,6.68,16.0,636.0,303.0,0.0,45.0,1000.0,10.0,12781.0
3,9,Arcane,NaN,NaN,NaN,2004-12-05T00:00:00+00:00,30.0,7.71,5.0,54.0,4.0,3.0,0.0,66.0,0.0,1817.0
4,18,Mad,NaN,NaN,NaN,2005-01-03T00:00:00+00:00,52.0,6.27,1.0,114.0,10.0,5.0,23.0,153.0,42.0,3038.0

In [10]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Mal ID            731290 non-null  int64
 1   Username          731289 non-null  object
 2   Gender            224383 non-null  object
 3   Birthday          168068 non-null  object
 4   Location          152805 non-null  object
 5   Joined            731290 non-null  object
 6   Days Watched      731282 non-null  float64
 7   Mean Score        731282 non-null  float64
 8   Watching          731282 non-null  float64
 9   Completed         731282 non-null  float64
 10  On Hold           731282 non-null  float64
 11  Dropped           731282 non-null  float64
 12  Plan to Watch     731282 non-null  float64
 13  Total Entries     731282 non-null  float64
 14  Rewatched         731282 non-null  float64
 15  Episodes Watched  731282 non-null  float64
dtypes: float64(10), int64(1), object(5)
memory usage: 89.3+ MB

In [11]:
users_df.isnull().sum()

Mal ID                   0
Username                 1
Gender              506907
Birthday            563222
Location            578485
Joined                   0
Days Watched             8
Mean Score               8
Watching                 8
Completed                8
On Hold                  8
Dropped                  8
Plan to Watch            8
Total Entries            8
Rewatched                8
Episodes Watched         8
dtype: int64

In [12]:
changing_columns = ['Days Watched','Watching','Completed','On Hold','Dropped','Plan to Watch','Total Entries','Rewatched','Episodes Watched']

users_df[changing_columns] = users_df[changing_columns].fillna(-1)
users_df[changing_columns] = users_df[changing_columns].replace([np.inf, -np.inf], -1)

users_df[changing_columns] = users_df[changing_columns].astype(int)

In [13]:
users_df
users_df.rename(columns={'Mal ID':'user_id','B':'Y','C':'Z'},inplace = True)

In [14]:
users_df

,user_id,Username,Gender,Birthday,Location,Joined,Days Watched,Mean Score,Watching,Completed,On Hold,Dropped,Plan to Watch,Total Entries,Rewatched,Episodes Watched
0,1,Xinil,Male,1985-03-04T00:00:00+00:00,California,2004-11-05T00:00:00+00:00,142,7.37,1,233,8,93,64,399,60,8458
1,3,Aokaado,Male,NaN,"Oslo, Norway",2004-11-11T00:00:00+00:00,68,7.34,23,137,99,44,40,343,15,4072
2,4,Crystal,Female,NaN,"Melbourne, Australia",2004-11-13T00:00:00+00:00,212,6.68,16,636,303,0,45,1000,10,12781
3,9,Arcane,NaN,NaN,NaN,2004-12-05T00:00:00+00:00,30,7.71,5,54,4,3,0,66,0,1817
4,18,Mad,NaN,NaN,NaN,2005-01-03T00:00:00+00:00,52,6.27,1,114,10,5,23,153,42,3038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731285,1291083,Dolopa,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0,0.00,0,0,0,0,0,0,0,0
731286,1291085,alenrobnik,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,21,8.22,16,58,9,1,42,126,0,1239
731287,1291087,Oblongata,NaN,1993-01-30T00:00:00+00:00,NaN,2012-05-06T00:00:00+00:00,51,7.53,38,175,0,9,211,433,2,3010
731288,1291091,Etnota,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0,0.00,0,0,0,0,0,0,0,0
731289,1291097,JuunanaSai,Female,NaN,NaN,2012-05-06T00:00:00+00:00,3,9.67,1,11,0,0,2,14,0,222

In [15]:
def calulate_age(birthdate):

SyntaxError: incomplete input (4210863262.py, line 2)